[class*=profile_].popup  {
    width: 400px;
} 

.user_thum_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.user_thum_wrap > li {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--bg-box-color0);
    padding: 20px 10px;
    border-radius: 18px;
    flex: 1 0 auto;
    max-width: 150px;
    /* gap: 10px; */
}

.user_thum_wrap .user_thum_imgwrap {
    line-height: 0;
}

.user_thum_wrap .user_thum_imgwrap > img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-bottom: 5px;
}

.user_thum_wrap .user_thum_imgwrap > .not_profileImg {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-bottom: 5px;
}

.user_thum_wrap .user_thum_id {
    display: block;
    font-size: 1.3rem;
    color: var(--text-color2);
}

.user_thum_wrap .user_thum_name {
    display: block;
    font-weight: 500;
    /* text-decoration: underline; */
}


/* .user_thum_wrap.horizon {} */
.user_thum_wrap.vertical > li {
    text-align: center;
    flex-direction: column;
    
}

.user_thum_wrap.vertical > li .user_thum_name {
    margin-top: 2px;
}

.user_thum_wrap.vertical > li .user_thum_id {
    margin-top: 0px;
}


.user_thum_wrap.horizontal_type1 > li {
    padding: 0;
    display: inline-flex;
    max-width: inherit;
    flex: 0 0 auto;
    margin-bottom: 5px;
}

.user_thum_wrap.horizontal_type1 .user_thum_imgwrap {
    line-height: 1;
}


.user_thum_wrap.horizontal_type1 .user_thum_imgwrap > img,
.user_thum_wrap.horizontal_type1 .user_thum_imgwrap > .not_profileImg {
    width: 25px;
    height: 25px;
    margin-bottom: 0px;
}
.write_wrap .write_header .user_thum_imgwrap.pop_user .not_profileImg,
.user_thum_imgwrap.pop_user .not_profileImg {
    font-size: 6rem;
}

.user_button_wrap {
    display: flex;
    gap: 5px;
    margin-top: 8px;
    justify-content: center;
}


.user_button_wrap .out {
    background-color: var(--bg-box-white);
    color: var(--text-color2);
    border: 1px solid var(--line-color2);
}

.popup .popup_body .popup .dimd {
    background-color: red;
}


[class*='profile_'].popup .popup_body > .user_thum_imgwrap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

[class*='profile_'].popup .popup_body > .user_thum_txtwrap {
    margin-top: 20px;
    text-align: center;
}

[class*='profile_'].popup .popup_body > .user_thum_txtwrap .user_thum_email,
[class*='profile_'].popup .popup_body > .user_thum_txtwrap .user_thum_id,
[class*='profile_'].popup .popup_body > .user_thum_txtwrap .user_thum_createdat,
[class*='profile_'].popup .popup_body > .user_thum_txtwrap .user_thum_name {
    display: block;
    margin-top: 2px;
    color: var(--text-color2);
    font-size: 1.3rem;
}

[class*='profile_'].popup .popup_body > .user_thum_txtwrap .user_thum_name {
    color: var(--text-color1);
    font-size: 1.8rem;
    margin-top: 18px;
    margin-bottom: 18px;
}


@media screen and (max-width: 760px) {
    [class*=profile_].popup {
        width: 90%;
        height: 400px;
    }
}
