.tag_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag_wrap + .tag_wrap {
    margin-top: 4px;
}

.tag_wrap > li {
    flex: 0 0 auto;
    border: 1px solid var(--tag-color);
    padding: 6px 10px;
    border-radius: 10px;
    color: var(--tag-color);
    font-size: 1.3rem;

}

.tag_wrap > li > span {
    font-size: 10px;
}


.tag_wrap .no_link {
    display: flex;
    align-items: center;
}
