@charset "utf-8";

/* 
    pc first 
    pc: 980 up
    tablet: 980 down
    mobile: 640 down 
*/

:root[data-color=light] {
    /* --point-color: #509af9; */
    --point-color: #448deb;
    --point-color2: #cf1f1f;
    --main-bg-color: #fff;
    --header-bg-color: #f4f4f4;
    --hover-color: #f2f2f2;
    --hover-color2:rgb(226, 226, 226);
    --hover-color3:rgba(9, 9, 9, 0.258);
    --hover-color4:#fff;
    --hover-color5: #f6fbff;
    --icon-color: #666666;
    --scroll-color: #868686;
    --scroll-bg-color: #ffffff;
    --disabled-bg-color: #d9d9d9;
    --disabled-color: #919191;
    --box-shadow: 3px 7px 24px rgba(0,0,0,0.3);
    --tag-color: #55a5f4;
    --arrow-color: #939393;
    
    
    
    --text-color-white: #fff;
    --text-color0: #222;
    --text-color1: #555; 
    --text-color2: #999;
    --text-error-color: red;
    --text-success-color: #2e9e64;
    
    --bg-box-white: #fff;
    --bg-box-black: #000000;
    --bg-box-color0: #fafafa; 
    /* --bg-box-color1: rgb(240, 240, 240);  */
    --bg-box-color1: #ededed;
    --bg-box-color2: #ddd; 
    --bg-box-color3: #efefef;; 
    --bg-box-color4: #444; 
    --bg-box-opacity: #ffffffd9; 

    --line-color1: #f4f4f4;
    --line-color2: #ddd;
    --line-color3: #c3c3c3;

    --mobile: 960px;

}


:root[data-color=dark] {
    
    --point-color: #509af9;
    --point-color2: #cf1f1f;
    --main-bg-color: black;
    --header-bg-color: #f4f4f4;
    --hover-color: #f4f4f4;
    --hover-color2: #000000;
    --icon-color: #666666;
    --scroll-color: #545151;
    --scroll-bg-color: #0d1117;
    
    
    --text-color-white: #fff;
    --text-color1: #555;
    --text-error-color: red;
    
    --bg-box-white: #fff;
    --bg-box-color1: rgb(240, 240, 240); 
    --bg-box-color2: #ddd; 
    --bg-box-color3: #efefef;; 

    --line-color1: #f4f4f4;
    --line-color2: #ddd;

    --mobile: 960px;
}



*::-webkit-scrollbar  { 
    width: 7px; 
    height: 7px;
    /* height: 100%; */
}
*::-webkit-scrollbar-thumb {
    height: 20%;
    background: var(--scroll-color); /* 스크롤바의 색상 */
    border-radius: 4px;
};   
*::-webkit-scrollbar-track {
    background: var(--scroll-bg-color);  /*스크롤바 뒷 배경 색상*/
}


html,
body {
    width: 100%;
    height: 100%;
    word-break: break-all;
}

#root, 
.App {
    width: 100%;
    height: 100%;
}

.blind {
    position: absolute;
    left: -999px;
    top: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: -1px;
    border: 0 none !important;
    background: transparent !important;
    color: transparent !important;
}

.pos_rel {
    position: relative;
}

/* 팝업 생성 시 화면 흔들리는거 해결 */
/* y 쓰면 화면은 안흔들리는데 ..아래에서 팝업 클릭하면 맨 위로감 */
/* padding-right 로 해결 */
body.popup_active {
    /* overflow-y: scroll; */
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; */
    overflow: hidden; 
    padding-right: 7px;
}

#wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#header {
    flex: 0 0 auto;
}

#contents {
    flex: 1 1 100%;
}

#footer {
    flex: 0 0 auto;
}

/* hover type1 */
a.hover_type1,
button.hover_type1 {
    padding: 5px 10px;
    border-radius: 10px;    
}

a.hover_type1:hover, 
button.hover_type1:hover {
    background-color: var(--hover-color);
} 

a.hover_type2,
button.hover_type2 {
    padding: 5px 10px;
    border-radius: 4px;
    
}

a.hover_type2:hover, 
button.hover_type2:hover {
    background-color: var(--hover-color3);
} 


a.hover_type3,
button.hover_type3 {
    padding: 5px 10px;
    border-radius: 10px;
    
}

a.hover_type3:hover, 
button.hover_type3:hover {
    background-color: var(--hover-color4);
} 

.ico_hover_type1:hover > svg {
    transform: translateY(-2px);
    color: var(--point-color);
}


.ico_hover_type2:hover > svg {
    transition: transform .3s;
    transform: rotate(45deg);
    color: var(--point-color);
}



/* margin */
.gapt_0 { margin-top: 0px !important; }
.gapt_5 { margin-top: 5px !important; }
.gapt_10 { margin-top: 10px !important; }
.gapt_15 { margin-top: 15px !important; }
.gapt_20 { margin-top: 20px !important; }
.gapt_30 { margin-top: 30px !important; }
.gapt_40 { margin-top: 40px !important; }
.gapt_50 { margin-top: 50px !important; }
.gap_0 { margin-bottom: 0px !important; }
.gap_5 { margin-bottom: 5px !important; }
.gap_10 { margin-bottom: 10px !important; }
.gap_15 { margin-bottom: 15px !important; }
.gap_20 { margin-bottom: 20px !important; }
.gap_30 { margin-bottom: 30px !important; }
.gap_40 { margin-bottom: 40px !important; }
.gap_50 { margin-bottom: 50px !important; }
.gapr_10 {margin-right: 10px !important;}

html {
    font-size: 10px;
}
body {
    font-family: "SpoqaHanSans";
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color1);
    background-color: var(--main-bg-color);
    line-height: 1.4;
    overflow-x: hidden;
}

h1 {
    font-weight: 600;
    font-size: 1.8rem;
}

h2 {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 500;
}

h2 .sub_txt {
    
}

strong {
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    width: 22px;
    height: 22px;
    color: var(--icon-color);
}

.check_txt {
    font-weight: 600;
    text-decoration: underline;
    color: var(--point-color2);
}

.logo {
    /* font-family: 'modak' !important; */
    /* font-family: 'Modak' !important; */
    font-family: 'Gugi' !important;
    color: var(--point-color);
    font-size: 2.6rem;
}


.align_c {
    text-align: center;
}

.align_l {
    text-align: left;
}

.align_r {
    text-align: right;
}

.flex {
    display: flex;
}

.flex_align_i_c {
    align-items: center;
}

.flex_r {
    justify-content: flex-end;
}

.flex_l {
    justify-content: flex-start;
}

.flex_c {
    justify-content: center;
}

.flex_col {
    flex-direction: column;
}

.flex_sb {
    justify-content: space-between;
}

.b_conts {
    width: 960px;
    /* height: 100%; */
    height: auto;
    margin: 0 auto;
    padding: 30px 0;

}

form {
    width: 100%;
}

.word_ellip_1 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.word_ellip_2 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.color_red {
    color: var(--point-color2);
}

.g_sub_txt {
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--text-color2);
    padding-left: 15px;
    text-indent: -15px;
    margin-top: 10px;
}



@media screen and (max-width: 960px) {
    .b_conts {
        width: 100%;
        padding: 30px 20px;
    }
}


@media screen and (max-width: 760px) {
    .b_conts {}
}