.category_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.category_wrap > li {
    flex: 0 0 auto;
    border: 1px solid var(--category-color);
    padding: 4px 8px;
    border-radius: 10px;
    color: var(--category-color);
}

.category_wrap > li > span {
    font-size: 10px;
}