.project_wrap {
    width: auto;
    height: 100%;
    height: 500px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}


.project_wrap > li {
    width: calc(50% - 10px);
    margin: 5px;
    border-radius: 12px;
    background-color: var(--bg-box-color1);
}