.search_project {
    max-width: 500px;
    top: 35%;
}

.search_project .popup_body .search_result {
    padding: 0;
    border-radius: 0;
}

.search_project .search_result_wrap {
    /* border: 1px solid red; */
}

.search_project .search_result_item {
    /* border: 1px solid blue; */
    width: 100%;
}

.search_project .search_result_item .link {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
}

.search_project .search_result_item .link:hover {
    background-color: var(--hover-color);
}

.search_project .search_result_item .icon svg {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    display: flex;
    color: var(--text-color2);
    opacity: .6;
    /* border: 1px solid red; */
}

.search_project .search_result_item .title {
    /* color: red; */
    font-size: 1.4rem;
}
.search_project .search_result_item .search_value {
    color: var(--point-color)
}

.search_project .search_button {
    justify-content: center;
}

.search_project .search_button > svg {
    color: var(--text-color2);
    width: 20px;
    height: 20px
}