[class*=button_type] {
    display: inline-block;
    position: relative;
    padding: 13px 32px;
    border: 1px solid transparent;
    border-radius: 56px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    white-space: nowrap;
    color: var(--text-color1);
    background-color: var(--bg-box-color1);
}


.button_type1 {
    color: var(--text-color1);
    background-color: var(--bg-box-color1);
}

.button_type2 {
    color: var(--text-color-white);
    background-color: var(--point-color);
}

.button_type3 {
    color: var(--text-color1);
    background-color: transparent;
    padding: 0px;
    font-size: inherit;
}

/* svg or img btn */
.button_type4 {
    color: var(--text-color1);
    background-color: var(--bg-box-white);
    border-radius: 50%;
    padding: 10px;
    line-height: 0;
    
}

button:disabled {
    background: var(--disabled-bg-color);
    color: var(--disabled-color);
    pointer-events: none;
}