.image_upload_wrap {
    height: 200px;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-box-color4);
}

.image_upload_wrap .init_img {
    position: absolute;
    top: 0;
    left: 0;
}

.image_upload_wrap .edit_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.image_upload_wrap .image_dropBox {
    /* background: var(--bg-box-black); */
    height: 100%;
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    transition: all .3s;
    /* opacity: 0.5; */
    color: var(--text-color-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.image_upload_wrap .image_dropBox::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-box-black);
    opacity: .5;
}

.image_upload_wrap > form {
    width: 100%;
    height: 100%;
}

.image_upload_wrap .compl_btn {
    color: var(--text-color-white);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

.image_upload_wrap .compl_btn::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-box-black);
    opacity: .5;

}


.image_upload_wrap .image_dropBox > input {
    opacity: .0;
    width: 100%; 
    height: 100%;;
    position: absolute;
    cursor: pointer;
}



.image_upload_wrap .image_dropBox .image_upload_text {
    color: var(--text-color-white);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

.image_upload_wrap .image_dropBox .image_upload_text > svg {
    color: var(--text-color-white);
    margin-bottom: 5px;
}



.image_upload_wrap .image_dropBox:hover {
    backdrop-filter: blur(1px);
    color: #fff;
}

.image_upload_wrap .image_dropBox:hover::before {
    opacity: .8;
}


@media screen and (max-width: 760px) {
    
}

