[class*=popup_type] {
    /* display: none; */
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--bg-box-white);
    border-radius: 20px;
    /* border: 1px solid var(--line-color1); */
    padding: 20px;
    z-index: 100;
    max-width: 90vw;
    max-height: 90vh;
}


[class*=popup_type].on {
    display: block;
}

.menu_type_small {
    right: 10px;
    box-shadow: var(--box-shadow);
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--bg-box-white);
    border-radius: 20px;
    border: 1px solid var(--line-color1);
    padding: 20px;
    margin-top: 10px;
    z-index: 100;
}

.menu_type_small.on {
    display: block;
}

.popup_type_default {
    right: 10px;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dimd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: .3; */
    z-index: 20;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(1px);
}

#popup .popup_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#popup .popup_body {
    padding: 10px 0;
    overflow-y: scroll;
    height: 90%;
}

#popup .popup_bottom {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    left: 0;
    text-align: center;
    width: 100%;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    /* background-color: var(--bg-box-opacity); */
    backdrop-filter: blur(3px);
}

#popup.profile_edit {
    width: 90%;
    height: 90%;
}



.popup .dimd {
    background-color: red;
    position: static;
}