[class*=popup_type] {
    /* display: none; */
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--bg-box-white);
    border-radius: 20px;
    /* border: 1px solid var(--line-color1); */
    padding: 20px;
    z-index: 100;
    max-width: 980px;
    max-height: 90vh;
}


[class*=popup_type].on {
    display: block;
}

.menu_type_small {
    right: 10px;
    box-shadow: var(--box-shadow);
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--bg-box-white);
    border-radius: 20px;
    border: 1px solid var(--line-color1);
    padding: 20px;
    margin-top: 10px;
    z-index: 100;
}

.menu_type_small.on {
    display: block;
}

.popup_type_default {
    right: 10px;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_type_default.write_edit {
    height: 90vh;
}

.dimd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: .3; */
    z-index: 20;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(3px);
}

#popup .popup_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#popup .popup_body {
    padding: 10px 0;
    overflow-y: scroll;
    height: 90%;
    position: relative;
}

/* #popup .popup_body:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 70px;
    background: linear-gradient(0deg, #121213, #12121300);
} */

#popup .popup_bottom {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    left: 0;
    text-align: center;
    width: 100%;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    /* background-color: var(--bg-box-opacity); */
    backdrop-filter: blur(3px);
}

#popup.profile_edit {
    width: 90%;
    height: 90%;
}

#popup.profile_edit .popup_body {
    position: fixed;
}

.popup .dimd {
    background-color: red;
    position: static;
}


.popup .pos_button_wrap {
    position: fixed;
    bottom: 0px;
    padding: 12px 0;
    background-color: var(--bg-box-white);
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}



.popup.user_search_pop {
    width: 400px;
}


.popup_type_default.search_project {
    transform: none;
    width: 460px;
    top: 100px;
    left: calc(50% - 230px);
}

.popup_type_default.search_project .search_result {
    max-height: 340px;
}

.popup_type_default.user_search_pop {
    transform: none;
    width: 400px;
    top: 20%;
    left: calc(50% - 200px);
}




@media screen and (max-width: 760px) {
    [class*=popup_type] {
        width: 100%;
        height: 100%;
        max-height: initial;
        border-radius: 0;
    }

    [class*=profile_].popup {
        width: 90%;
        height: 400px;
    }

    .popup_type_default.user_search_pop {
        top: 0;
        left: 0;
    }

    #popup.profile_edit {
        width: 100%;
        height: 100%;
        padding-bottom: 55px;
    }

    .popup_type_default.search_project {
        top: 0;
        left: 0;
        width: 100%;
        max-width: inherit;
    }

    #popup .popup_head {
        font-size: 1.6rem;
    }

    .popup_type_default.user_search_pop {
        width: 100%;
        height: 100%;
    }

    .menu_type_small {

    }
}

