[class*=popup_type] {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--bg-box-white);
    border-radius: 20px;
    border: 1px solid var(--line-color1);
    padding: 20px;
    margin-top: 10px;
    z-index: 100;
}


[class*=popup_type].on {
    display: block;
}



.popup_type_small {
    right: 10px;
    box-shadow: var(--box-shadow);
}
