.terms {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.terms > input {
    flex: 0;
}

.Profile_info_wrap > li + li {
    margin-top: 30px;
}

.Profile_info_wrap .Profile_info_tit {
    display: block;
    margin-bottom: 10px;
}