.find_wrap {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    margin-top: 50px;
}

.find_wrap > li {
    flex: 0 0 auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 980px) {
    .find_wrap {
        width: 100%;
    }
}