.user_profile_wrap {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.user_profile_name {
    /* margin-right: 10px; */
    margin-left: 10px;
    display: flex;
    align-items: center;
}


.user_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


.user_profile_icon > svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: transform .5s;
}

.user_profile_icon.on > svg {
    color: var(--point-color);
    transform: rotate(45deg);
}


