.profile_wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.profile_wrap .profile_img_wrap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    
}

.profile_wrap .profile_img_wrap > img {
    object-fit: cover;
}

.profile_wrap .profile_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile_wrap .profile_btn.left {
    right: auto;
    left: 0;
    z-index: 10;
}

.profile_wrap .profile_btn.left > button{
    background-color: var(--text-success-color);
}


.profile_wrap .profile_btn > button{
    color: var(--text-color-white);
    background-color: #444;
    border: 4px solid var(--bg-box-white);
    z-index: 10;
}

.profile_wrap .profile_btn > button > svg {
    color: inherit;
}