.calendar .header  {
    text-align: center; 
}


.calendar .days {
    display: flex;
    font-size: 1.2rem;
    color: var(--text-color2);
    margin-bottom: 30px;
}
.calendar .body .row { 
    display: flex;
    align-items: flex-start;
}

.calendar .days .row > div:first-child,
.calendar .body .row > div:first-child {
    color: rgb(194, 66, 66);
}

.calendar .days .row > div:last-child,
.calendar .body .row > div:last-child {
    color: rgb(40, 89, 224);
}

.calendar .days .col,
.calendar .body .col {
    width: 14.285714285714286%; 
    border: none; 
    background-color: var(--bg-box-white);
}

.calendar .body .col {
    cursor: pointer;
    border-top: 1px solid var(--line-color1);
    margin-right: 10px;
    min-height: 100px;
}

.calendar .body .col:nth-child(7) {
    margin-right: 0;
}


/* 진행중인 습관에 인증글이 있으면. */
.calendar .body .constructor .day,
.calendar .body .instance .day{
    position: relative;
}
.calendar .body .constructor .day::before,
.calendar .body .instance .day::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    border-radius: 50%;
}

.calendar .col > .day {
    display: block;
    padding: 5px 0;
    color: var(--text-color1);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 50px; */
    /* height: 50px; */
    /* border-radius: 50%; */
}



.calendar .col.today > span.day {
    position: relative;
    font-weight: bold; 
}

.calendar .col.today > span.day::before {
    content:'To day';
     /* width: 5px;  */
     /* height: 5px;  */
     /* display: inline-block; */
     /* font-weight: bold;  */
     font-size: 1rem;
     font-weight: 400;
     /* background-color: rgb(255, 24, 24);  */
     /* border-radius: 50%;  */
     position: absolute; 
     top: 5px;
     right: 0px;
     margin: 0 auto;
}


.calendar .col.selected > .day {
    /* background-color: var(--point-color);  */
    /* color: var(--text-color-white); */
    color: var(--point-color);
    border-top: 1px solid var(--point-color);
}

.calendar .body .col:hover {
    background-color: var(--hover-color);
}

.calendar .body .col:focus {
    border: 2px solid var(--point-color);
}

.calendar .col.disabled {
    opacity: .4;
}


.certified_wrap {
    display: inline-flex;
    align-items: center;
}

.certified_wrap {
    margin-right: 4px;
}

.certified_wrap:last-child {
    margin-right: 0px;
}

.certified_img {
    width: 22px;
    height: 22px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 3px;
}

.certified_name {
    font-size: 1.2rem;
    color: var(--text-color1);
}



.calendar .swiper .swiper-button-prev {
    top:3px; font-size: 25px;
}
.calendar .swiper .swiper-button-next {
    top:3px; font-size: 25px;
}
.calendar .swiper-button-next:after, 
.calendar .swiper-rtl .swiper-button-prev:after,
.calendar .swiper-button-next:after, 
.calendar .swiper-button-prev:after {
    font-size: 25px !important;
}

.calendar .yy { 
    /* padding: 5px 0; */
    position: relative;
    width: 240px;
    margin: 0 auto 10px;
}

.calendar .yy .swiper-wrapper {
    align-items: flex-end;
}

.calendar .yy .swiper-slide.swiper-slide-visible {
    opacity: .5; 
}

.calendar .yy .swiper-slide.swiper-slide-visible.swiper-slide-active {
    font-weight: bold; 
    opacity: 1;
    font-size: 1.6rem;
}

.calendar .yy .button_type_arrow_l {
    position: absolute;
    top: -2px;
    left: -20px;
}

.calendar .yy .button_type_arrow_r  {
    position: absolute;
    top: -2px;
    right: -20px;
}

.calendar .mm {
    /* padding: 5px 0; */
    position: relative;
    width: 200px;
    margin: 0 auto 50px;
}

.calendar .mm .swiper-wrapper {
    align-items: flex-end;
}

.calendar .mm .swiper-slide.swiper-slide-visible {
    opacity: .5; 
}
.calendar .mm .swiper-slide.swiper-slide-visible.swiper-slide-active {
    font-weight: bold; 
    opacity: 1; 
    /* color: var(--point-color); */
    font-size: 1.6rem;
}
.calendar .mm .button_type_arrow_l {
    position: absolute;
    top: -2px;
    left: -20px;
}
.calendar .mm .button_type_arrow_r  {
    position: absolute;
    top: -2px;
    right: -20px;
}



/* .calendar .zzzzzzzzzzzzzzz {
    background-color: rgb(191, 219, 255);
} */



@media screen and (max-width: 640px) {
    .calendar .days .col,
    .calendar .body .col {

    }
}