
.popup_userinfo {
    width: 200px;
    padding: 15px 0;
}

.popup_userinfo .name {
    padding-left: 10px;
}

.popup_userinfo .name > strong {
    color: var(--point-color);
}

.popup_userinfo .email {
    padding-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.popup_userinfo + .popup_userinfo {
    border-top: 1px solid var(--line-color1);
}


.popup_userinfo > li svg {
    margin-right: 15px;
}

.popup_userinfo > li .list {
    display: inline-block;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.popup_userinfo > li .list:hover {
    background-color: var(--hover-color);
} 




