.create_comment_wrap {}

.create_comment_wrap .sub_info > span {
    font-size: 1.3rem; 
}


.create_comment_wrap .sub_info > span + span {
    margin-left: 10px;
}


.create_comment_wrap .create_comment_inner {
    display: flex;    
    gap: 15px;
}


.create_comment_wrap .create_comment_form {
    flex: 1 0 auto;
    text-align: right;
}

.create_comment_wrap .create_comment_form > button + button {
    margin-left: 5px;
}

.create_comment_wrap .create_comment_img {
    width: 42px;
    height: 42px;
    flex: 0 0 auto;
    border-radius: 40%;
    overflow: hidden;
}

