
.comment_user_thum_wrap {
    margin-top: 20px;
}


.comment_user_thum_wrap .popup.comment_more {
    padding: 0;    
    position: absolute;
    right: 0;
    transform: initial;
    top: 50px;
    left: auto;
    border-radius: 10px;
}



.comment_user_thum_wrap .popup.comment_more + .dimd {
    background-color: transparent;
}

.comment_user_thum_wrap .popup.comment_more button {
    display: flex;
    align-items: center;
    padding: 5px 17px;
    line-height: 1;
}


.comment_user_thum_wrap .popup.comment_more button.delete,
.comment_user_thum_wrap .popup.comment_more button.delete svg {
    color: var(--point-color2);
}

.comment_user_thum_wrap .popup.comment_more button > svg {
    margin-right: 10px;
}


/* .comment_user_thum_wrap  + .comment_user_thum_wrap {
    margin-top: 20px;
} */

.comment_user_thum_wrap > .comment_user_thum_inner {
    display: flex;
    position: relative;
    gap: 15px;
    flex-wrap: wrap;
}

.comment_user_thum_wrap .user_thum_img_wrap {
    flex: 0 0 auto;
}

/* .comment_user_thum_wrap:hover .comment_user_thum_inner > .user_thum_more {
    opacity: 1;
} */
.comment_user_thum_wrap .user_thum_more {
    /* opacity: 0; */
    padding: 10px 0px 10px 10px;
    width: 30px;
    flex: 0 0 auto;
}

.comment_user_thum_wrap .user_thum_more svg {
    color: var(--text-color2);
}

.comment_user_thum_wrap .user_thum_txt_wrap {
    width: calc(90% - 70px);
    flex: 1 0 auto;
}


.comment_user_thum_wrap .user_thum_txt_wrap .info > button {
    padding: 0;
    /* margin-right: 10px; */
}

.comment_user_thum_wrap .user_thum_txt_wrap .cont_detail > button {
    padding: 0;
    margin-top: 5px;
    font-size: 1.3rem;
    color: var(--text-color1);
    font-weight: 400;
}

.comment_user_thum_wrap .user_thum_txt_wrap .cont {
    white-space: pre-line;
}


.comment_user_thum_wrap .user_thum_txt_wrap .info .created_at,
.comment_user_thum_wrap .user_thum_txt_wrap .info .is_update {
    font-size: 1.2rem;
    color: var(--text-color2);
    margin-left: 5px;
}


.comment_user_thum_wrap .user_thum_img_wrap > img,
.comment_user_thum_wrap .user_thum_img_wrap > .not_profileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.comment_user_thum_wrap .user_thum_id {
    display: block;
    font-size: 1.3rem;
    color: var(--text-color2);
}

.comment_user_thum_wrap .user_thum_name {
    display: block;
    font-weight: 600;
    /* text-decoration: underline; */
}


.comment_user_thum_wrap .user_thum_txt_wrap .sub {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.comment_user_thum_wrap .user_thum_txt_wrap .sub > button {
    margin-left: 10px;
}




@media screen and (max-width: 760px) {
    .comment_user_thum_wrap > .comment_user_thum_inner {
        gap: 10px;
    }

    .comment_user_thum_wrap .user_thum_img_wrap > img, 
    .comment_user_thum_wrap .user_thum_img_wrap > .not_profileImg {
        width: 30px;
        height: 30px;
    }

    .comment_user_thum_wrap .popup.comment_more {
     
        width: auto;
        height: auto;
    }
    
}