.recomment_wrap {
    width: calc(100% - 55px);
    flex: 0 0 auto;
    margin-left: auto;
}

.recomment_wrap .sub_info > span {
    font-size: 1.3rem; 
}


.recomment_wrap .sub_info > span + span {
    margin-left: 10px;
}


.recomment_wrap .recomment_inner {
    display: flex;    
    gap: 15px;
}


.recomment_wrap .recomment_form {
    flex: 1 0 auto;
    text-align: right;
    position: relative;
}

.recomment_wrap .recomment_form > button + button {
    margin-left: 5px;
}

.recomment_wrap .recomment_img {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-radius: 40%;
    overflow: hidden;
}

.recomment_wrap .not_profileImg {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-radius: 40%;
    overflow: hidden;
}

.recomment_wrap .to_user {
   position: absolute;
   font-size: 1.2rem;
   bottom: 15px;
}

