#footer {
    /* margin-top: 60px; */
    background-color: var(--main-bg-color2);
}

#footer .b_conts {
    padding: 30px 15px;
}

#footer li {
    font-weight: 400;
}

#footer li + li {
    margin-top: 5px;
}


#footer li.logo_wrap {
    margin-top: 20px;
    font-weight: 700;
}

#footer li.logo_wrap .logo{
    color: var(--text-color2);
}



