
#header {
    background-color: var(--header-bg-color); 
    color: var(--text-color1); 
}

#header .header_nav {
    display: flex;
    justify-content: flex-end;
}

#header .header_nav > li:first-child {
    flex: 0 0 auto; 
    margin-right: auto;

}

#header .header_nav > li {
    flex: 0 0 auto; 
    margin-right: 5px; 
}