
#header {
    background-color: var(--header-bg-color); 
    color: var(--text-color2); 
}

#header .header_nav {
    display: flex;
    justify-content: flex-end;
}

#header .header_nav > li:first-child {
    margin-right: auto;
    padding-left: 0;

}

#header .header_nav > li:last-child {
    padding-right: 0;
}

#header .header_nav > li {
    flex: 0 0 auto; 
    padding: 0 15px; 
}