
#header {
    /* background-color: var(--header-bg-color);  */
    /* color: var(--text-color1);  */
}

#header > .b_conts {
    padding: 20px 0;
}

#header .header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .header_nav > li:first-child {
    margin-right: auto;
    padding-left: 0;

}

#header .header_nav > li:last-child {
    padding-right: 0;
}

#header .header_nav > li {
    flex: 0 0 auto; 
    padding: 0 5px; 
    font-size: 1.5rem;
    position: relative;
}

#header .header_nav > li .hover_type1 {
    display: inline-block;
}


.search_project .popup_body .search_result {
    box-shadow: none;
}

/* line */
/* #header .header_nav > li:first-child::after {
    content: none;
}
#header .header_nav > li:last-child::after {
    content: none;
}

#header .header_nav > li::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--line-color2);;
    width: 1px;
    height: 10px;
} */

/* #header .header_nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    
} */

@media screen and (max-width: 760px) {
    #header > .b_conts {
        padding: 20px 10px;
    }
}
